*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: hsl(185, 75%, 39%);
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
    color: hsl(229, 23%, 23%);



}



.container {
    width: 350px;
    height: 375px;
}
.card__wrapper {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 15px;
}
.card__top {
    height: 140px;

    background-image: url(/images/bg-pattern-card.svg);
    box-sizing: border-box;
    position: relative;
    border-radius: 15px 15px 0 0;
    

}
.face__img {
    position: absolute;
    top: 90px;
    left: 120px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 5px solid white;

}
.card__namings {
    text-align: center;
    p{
        display: inline-block;
    }
}
.name {
    margin-top: 70px;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
    

}
.age {
    font-size: 24px;
    font-weight: 400;
    color: hsl(227, 10%, 46%);
    
    margin-left: 5px;

}
.city {
    color: hsl(227, 10%, 46%);
    margin-bottom: 30px;
    font-size: 18px;
}
.card__nums {
    border-top: 0.1px solid rgba(161, 161, 161, 0.618);
    height: 90px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    
    
    
}
.nums__column {
    text-align: center;
}
.column__number {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
}
.column__topic {
    font-size: 13px;
    letter-spacing: 2px;
    color: hsla(227, 10%, 46%, 0.808);
}


.background__circles{
    max-height: 100vh;
}
.top__circle {
    max-height: 100vh;
    background-repeat: no-repeat;
    position: absolute;
    left: -300px;
    top: -450px;
    z-index: -100;
}
.bottom__circle {
    max-height: 100vh;
    background-repeat: no-repeat;
    position: absolute;
    bottom: -450px;
    right: -230px;
    z-index: -100;
}